@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root 
{
    --hvcolor: #032e57;
    --color-primary: #077afd;
    --color-secondary: #fff;
    --cor-sombras: rgba(0, 0, 0, .1);
}

* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Inter', sans-serif;
    transition: all .2s linear;
}

html 
{
    font-size: 61.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

header 
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    background-color: var(--color-secondary);
    width: 100%;
    box-shadow: 0.5rem 1rem var(--cor-sombras);
    z-index: 1000;
}
/** Início Header Site**/
.logo 
{
    width: 200px;
}

.logo img 
{
    width: 100%;
}

/** 
Início Menu Header
**/
.menu-principal a
{
    position: relative;
    color: var(--color-primary);
    font-size: 1.7rem;
    margin: 1rem;
    transition: 0.5s;
}

.menu-principal a:hover 
{
    color: var(--hvcolor);
}

/***** Início Sublinha em transição abaixo dos links - menu *****/ 
.menu-principal a::after 
{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    background-color: var(--color-primary);
    height: 0.3rem;
    margin-top: 0.5rem;
    top: 100%;
    transition: 0.5s;
}

.menu-principal a:hover::after 
{
    width: 100%;
}
/***** Fim Sublinha em transição abaixo dos links - menu *****/

#menu-celular 
{
    font-size: 3.5rem;
    color: var(--color-primary);
    margin: 1rem;
    cursor: pointer;
    display: none;
}

#menu-celular:hover 
{
    color: var(--hvcolor);
}

.icone-direita .btn
{
    background-color: var(--color-primary);
    font-size: 1.7rem;
    color: var(--color-secondary);
    cursor: pointer;
    padding: 1.2rem 2rem;
    border-radius: 5px;
}

.icone-direita .btn:hover
{
    background-color: var(--hvcolor);
}
/** Fim Header Site **/


/** Início Slide Destaque Site**/
.destaque-inicial 
{
    padding: 2rem 7%;
    background-image: url(../img/slide/fundo2.png);
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.destaque-bloco
{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 6px;
    justify-content: space-between;
    align-items: center;
}

.destaque-bloco .destaque-esquerdo-conteudo
{
    flex: 1 1 40rem;
}

.destaque-esquerdo-conteudo span
{
    padding: 1rem 0;
    font-weight: bolder;
    font-size: 2rem;
    color: var(--color-primary);
}

.destaque-esquerdo-conteudo h2
{
    margin: 1rem 0;
    font-size: 48px;
}

.destaque-esquerdo-conteudo p
{
    margin-top: 2rem;
    font-size: 1.7rem;
    line-height: 3rem;
    color: var(--color-primary);
}

.destaque-btn
{
    display: flex;
    margin-top: 2rem;
    align-items: center;
    gap: 2rem;
}

.destaque-btn a
{
    display: inline-block;
    background-color: var(--color-primary);
    padding: 1.5rem 3rem;
    color: var(--color-secondary);
    font-size: 1.7rem;
    transition: 0.5s ease;
}

.destaque-btn a:hover
{
    background-color: var(--hvcolor);
    padding: 1.5rem 2.5rem;
}

.destaque-btn-2
{
    background-color: transparent !important;
    color: var(--color-primary)!important;
    border: 1px solid var(--color-primary);
}

.destaque-btn-2:hover
{
    background-color: var(--hvcolor) !important;
    color: var(--color-secondary)!important;
}

.destaque-bloco .destaque-direito-conteudo
{
    flex: 1 1 50rem;
}

.destaque-bloco .destaque-direito-conteudo img
{
    width: 100%;
    margin-top: 6rem;
}
/**Fim Slide Destaque Site**/


/**Início Serviços Destaque Site**/
.bloco-servicos-1-destaque
{
    padding: 3rem 7%;
}

.bloco-servicos-1
{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: space-between;
    margin-top: -100px;
}

.bloco-servicos-1-item
{
    flex: 1 1 300px;
    background-color: var(--color-secondary);
    padding: 3rem 3rem;
    cursor: pointer;
    z-index: 1;
    background-image: url(../img/servicos-1/bd-servicos.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.bloco-servicos-1-item span
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 0;
    height: 100%;
    background-color: var(--color-primary);
    transition: 0.5s;
}

.bloco-servicos-1-item:hover span
{
    width: 100%;
}

.bloco-servicos-1-item i
{
    font-size: 48px;
    color: var(--color-primary);
}

.bloco-servicos-1-item:hover i
{
    color: var(--color-secondary);
}

.bloco-servicos-1-item h2
{
    font-size: 2.5rem;
    padding: 1rem 0;
}

.bloco-servicos-1-item:hover h2
{
    color: var(--color-secondary);
}

.bloco-servicos-1-item p
{
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding: 1rem 0;
}

.bloco-servicos-1-item:hover p
{
    color: var(--color-secondary);
}
/**Fim Serviços Destaque Site**/

/**Início Sobre nós do Site**/
.sobre-nos
{
    width: 100%;
    background-image: url(../img/servicos-1/bd-servicos.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 2rem 7%;
}

.sobre-titulo
{
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    color: var(--color-primary);
    width: 200px;
    padding: 2rem 0;
    margin: 0 auto;
    border-bottom: 2px solid var(--hvcolor);
}

.bloco-sobre
{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
}

.bloco-sobre-conteudo-esquerdo
{
    flex: 1 1 40rem;
}

.bloco-sobre-conteudo-esquerdo img
{
    width: 90%;
    padding: 2rem;
}

.bloco-sobre-conteudo
{
    flex: 1 1 45rem;
}

.bloco-sobre-conteudo-img
{
    width: 100%;
}

.bloco-sobre-conteudo-direito h2
{
    font-size: 30px;
    line-height: 4rem;
    font-weight: bolder;
    padding: 1.5rem 0;
    color: var(#000);
}

.bloco-sobre-conteudo-direito p
{
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    padding: 1.5rem 0;
    color: var(--color-primary);
    line-height: 2.5rem;
    text-align: left;
}

.bloco-sobre-descricao
{
    line-height: 2.5rem!important;
}

.bloco-sobre-btn
{
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
    margin-top: 0.5rem;
    border: 1px solid var(--color-primary);
    padding: 1.5rem 3rem;
    transition: 0.5s all;
}

.bloco-sobre-btn:hover
{
    background-color: var(--hvcolor);
    color: var(--color-secondary);
    border: none;
    padding: 1.5rem 3rem;
}
/**Fim Sobre nós do Site**/

/**Início serviços 2 do Site**/
.bloco-servicos-2
{
    width: 100%;
    padding: 3rem 7%;
}

.bloco-servicos-2-titulo h2
{
    font-size: 40px;
    color: var(--color-primary);
    text-align: center;
    padding: 1rem 0;
    margin-bottom: 3rem;
}

.bloco-servicos-2-conteudo
{
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    /** justify-content: space-between; **/
    align-items: center;
    text-align: center;
}

.bloco-servicos-2-item
{
    flex: 1 1 300px;
    padding: 3rem 2rem;
    border: 2px solid var(--color-primary);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.bloco-servicos-2-item:hover
{
    transform: translateY(-10px); /** **/
    border-bottom: 2px solid var(--color-primary);
    background-color: var(--color-secondary);
}

.bloco-servicos-2-item:hover .bloco-servicos-2-icone
{
    width: 100px;
    height: 100px;
    border-radius: 0;
    background-color: var(--color-primary);
}

.bloco-servicos-2-item:hover .bloco-servicos-2-icone i
{
    color: var(--color-secondary);
    transform: scale(1.1);
}

.bloco-servicos-2-icone
{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    line-height: 100px;
    border-radius: 50%;
    background-color: var(--color-secondary);
    border: 1px solid var(--color-primary);
}

.bloco-servicos-2-icone i
{
    font-size: 3rem;
    padding: 1rem;
    color: var(--color-primary);
}

.bloco-servicos-2-item h3
{
    font-size: 3rem;
    padding-top: 2rem;
}

.bloco-servicos-2-item p
{
    font-size: 1.5rem;
    padding: 1.5rem 0;
    line-height: 2.5rem;
}
/**Fim serviços 2 do Site**/


/** Início Médicos do Site **/
.medicos-principal {
    width: 100%;
    background-image: url(../img/medicos/bg-medicos.png);
    background-color: var(--color-secondary);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 2rem 7%;
}

.bloco-medico-titulo {
    font-size: 30px;
    text-align: center;
    padding: 4rem;
    color: var(--color-secondary);
}

.bloco-principal-medico {
    display: flex;
    flex-wrap: wrap;
    gap: 6rem;
    align-items: center;
    justify-content: center;
}

.bloco-medico {
    flex: 1 1 300px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: #fff;
}

.bloco-medico img {
    width: 100%;
    transition: 0.5s;
}

.bloco-medico:hover img {
    border-radius: 50px;
}

/* Ícones do topo (fa-solid) */
.bloco-medico-icones {
    position: absolute;
    top: 10%;
    left: -100%;
    transition: 0.5s;
    z-index: 3;
}

.bloco-medico:hover .bloco-medico-icones {
    left: 7%;
}

.bloco-medico-icones i {
    font-size: 2rem;
    color: var(--color-primary);
    background-color: var(--color-secondary);
    padding: 1rem;
    margin: 0.5rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: 0.3s;
}

.bloco-medico-icones i:hover {
    border-radius: 10px !important;
    transform: scale(1.2);
}

/* Gradiente branco sobreposto */
.bloco-medico::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: -200px;
    z-index: 1;
    background: linear-gradient(0deg, #f5f5f5 50%, transparent);
    transition: 0.5s;
}

.bloco-medico:hover::after {
    bottom: -100px;
}

/* Detalhes (nome + ícones sociais) */
.bloco-medico-detalhes {
    position: absolute;
    left: 0;
    bottom: 15px;
    width: 100%;
    text-align: center;
    z-index: 4;
    transition: all 0.5s ease;
}

/* Nome sempre visível */
.bloco-medico-detalhes h2 {
    font-size: 22px;
    color: #000;
    margin-bottom: 1rem;
}

/* Ícones sociais escondidos inicialmente */
.bloco-medico-detalhes i.bi {
    font-size: 2rem;
    color: var(--color-primary);
    margin: 0 0.5rem;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.4s ease;
}

/* Ícones aparecem no hover */
.bloco-medico:hover .bloco-medico-detalhes i.bi {
    opacity: 1;
    transform: translateY(0);
}

/* Efeito hover nos ícones sociais */
.bloco-medico-detalhes i.bi:hover {
    transform: scale(1.2);
}

/* Cores específicas */
.bloco-medico-detalhes i.bi-youtube:hover {
    color: #FF0000;
}

.bloco-medico-detalhes i.bi-instagram:hover {
    color: #E4405F;
}
/** Fim Médicos do Site **/

/** Início Depoimentos do Site **/
.depoimentos-site
{
    width: 100%;
    padding: 2.5rem 7%;

}

.depoimentos-titulo
{
    text-align: center;
}

.depoimentos-titulo h2
{
    font-size: 40px;
    color: var(--color-primary);
    padding-bottom: 3rem;
}

.depoimentos-conteudo-bloco
{
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    padding: 4rem 0;
    align-items: center;
    text-align: center;
}

.depoimentos-conteudo-item         /*Item (Quadrado bloco cada item separado)*/
{
    flex: 1 1 300px;
    padding: 1rem;
    border: 2px solid var(--color-primary);
    border-radius: 0 50px 0 0;
    transition: 1s;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.depoimentos-conteudo-item:hover
{
    border-radius: 50px 0px 0px 0px;
}

.depoimentos-conteudo-item img
{
    width: 100px;
    border-radius: 100%;
    transition: 1s;
}

.depoimentos-conteudo-item:hover img
{
    transform: scale(1.1);
}

.depoimentos-conteudo-estrelas i
{
    font-size: 2rem;
    color: var(--color-primary);
    margin: 0.2rem;
}

.depoimentos-conteudo-item h2
{
    font-size: 2rem;
    padding-top: 2rem;
}

.depoimentos-conteudo-texto p  
{
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding: 1rem 1rem;
    padding-bottom: 2rem;
}
/** Fim Depoimentos do Site **/

/** Início Blog do Site **/
.bloco-noticias-titulo-top
{
    font-size: 30px;
    margin: 4rem;
    text-align: center;
    color: var(--color-primary);
}

.bloco-noticias img
{
    width: 100%;
}

.bloco-noticias
{
    flex: 1 1 300px;
    position: relative;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 1s;
}

.bloco-noticias:hover
{
    transform: scale(1.1);
}

.bloco-noticias-titulo
{
    font-size: 15px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    color: var(--color-primary);
}
/** Fim Blog do Site **/

/** Início Rodapé do Site **/
.rodape
{
    background-color: var(--color-primary);
}

.rodape .rodape-linha
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    padding: 2rem 16rem;
}

.rodape-logo
{
    background-color: var(--color-secondary);
    justify-content: center;
    text-align: center;
    padding: 2px;
    border-radius: 5px;
}

.rodape .rodape-col img
{
    width: 200px;
    height: auto;
    border-radius: 5px;
    margin: 2rem 0 1rem 0;
}

.rodape .rodape-col p
{
    font-size: 1.3rem;
    color: var(--color-secondary);
    padding-bottom: 2.5rem;
}

.rodape .rodape-col span
{
    font-size: 1.2rem;
    color: var(--color-secondary);
    padding-bottom: 1rem;
    display: block;
    margin-bottom: 5px;
}

.rodape .rodape-col span i
{

    color: var(--color-secondary);
    font-size: 15px;
    padding: 0.5rem;
    margin-right: 5px;
    border-radius: 10px;
}

.rodape .rodape-col h5
{
    position: relative;
    font-size: 1.9rem;
    color: var(--color-secondary);
    padding: 0.5rem;
    margin: 1rem 0;
    letter-spacing: 1px;
}

.rodape .rodape-col h5::before
{
    content: "";
    position: absolute;
    background-color: var(--color-secondary);
    bottom: 0;
    width: 100px;
    height: 3px;
    border-radius: 3px;
}

.rodape .rodape-col h5::after
{
    content: "";
    position: absolute;
    background-color: var(--color-primary);
    bottom: 0;
    width: 20px;
    left: 40px;
    height: 3px;
    border-radius: 3px;
}

.rodape .rodape-col a
{
    display: block;
    color: var(--color-secondary);
    font-size: 1.6rem;
    padding-top: 1rem;
    transition: 0.4s ease;
}

.rodape .rodape-col a:hover
{
    padding-left: 5px;
}

.rodape .rodape-col input
{
    width: 100%;
    height: 40px;
    font-size: 1.4rem;
    color: var(--color-primary);
    padding-left: 10px;
    margin-bottom: 1.5rem;
    border-radius: 5px;
}

.rodape .rodape-col button
{
    background-color: var(--cor-sombras);
    color: var(--color-secondary);
    font-size: 1.6rem;
    padding: 1rem 2rem ;
    cursor: pointer;
    transition: 0.4s ease;
    border-radius: 10px;
    width: 100%;
}

.rodape .rodape-col button:hover
{
    background-color: var(--color-primary);
    border: 1px solid var(--color-secondary);
}

.rodape .rodape-direitos
{
    display: flex;
    background-color: var(--color-primary);
    align-items: center;
    justify-content: space-between;
    color: var(--color-secondary);
    padding: 2rem 16rem;
    text-align: center;
    position: relative;
}

.rodape .rodape-direitos p
{
    color: var(--color-secondary);
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.rodape .rodape-direitos p span
{
    color: var(--hvcolor);
    cursor: pointer;
}

.rodape .rodape-direitos .rodape-redes
{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 1.5rem 10rem;
    background-color: var(--hvcolor);
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 5% 100%);
}

.rodape .rodape-direitos .rodape-redes i
{
    color: var(--color-primary);
    background-color: var(--color-secondary);
    margin-left: 20px;
    padding: 1rem;
    margin-top: 5px 0 5px 20px;
    font-size: 1.6rem;
    border-radius: 5px;
    transition: 0.4s ease;
}

.rodape .rodape-direitos .rodape-redes i:hover
{
    transform: scale(1.1);
    color: var(--hvcolor);
}
/** Fim Rodapé do Site **/


/** Início Responsividade Site **/
@media (max-width:768px)
{
    html{
        font-size: 55%;
    }

.icone-direita
{
    display: flex;
    align-items: center;
}

#menu-celular
{
display: initial;
}

.menu-principal
{
    position: absolute;
    top: 100%;
    left: -100%;
    width: 100%;
    height: 100vh;
    background-color: var(--color-secondary);
}

.menu-principal.active
{
    left: 0;
}

.menu-principal a
{
    display: block;
    margin: 2rem;
    padding: 1rem;
    border: 1px solid var(--color-primary);
}

.destaque-bloco .destaque-esquerdo-conteudo
{
    margin-top: 50px;
    padding: 2rem;
}

.destaque-bloco .destaque-esquerdo-conteudo h2
{
    font-size: 30px;
}

.destaque-direito-conteudo
{
    font-size: 20px;
}

.bloco-servicos-1
{
    margin-top: 0;
}

}


@media(max-width: 1390px){

.rodape .rodape-direitos .rodape-redes
{
    padding: 1.3rem 5rem;
}
}

@media(max-width: 1150px){

.rodape .rodape-direitos .rodape-redes
{
    position: inherit;
    background: none;
    padding: 1.3rem 0rem;
}

.rodape .rodape-direitos{
    flex-direction: column;
}

.rodape .rodape-linha{
    grid-template-columns: 1fr 1fr 1fr;
}
}

@media(max-width: 991px){

.rodape .rodape-redes
{
    padding: 1.3rem 10rem;
}
}

@media(max-width: 768px){
    .rodape .rodape-linha{
        grid-template-columns: 1fr 1fr;
    }


}

@media(max-width: 600px){
    .rodape .rodape-linha{
        grid-template-columns: 1fr;
        padding: 2rem 7px;
    }

        .rodape .rodape-direitos{
        padding: 2rem 7px;

    }
}

/** Fim Responsividade Site **/
